{% extends 'group/main.html' %}
{% load static %}
{% block content%}
<main>
<section id="form-container">
    <img id="logo" src="{% static 'imgs/Chat.png' %}" />

    <div>
        <h1>Welcome to VideoChat</h1>
        <p>A group video calling application, that you can use with all your friends</p>

    </div>

    <form id="form">
        <div class="form-fielf">
            <input type="submit" value="Join Stream">
        </div>
    </form>
</section>
<script type="text/javascript">
    let form = document.getElementById("form")

    let handleSubmit = async (e) => {
        e.preventDefault()
        window.open('/room/', '_self')
    }
    form.addEventListener('submit', handleSubmit)
</script>

</main>

{% endblock content%}