<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face2Face</title>
    <link rel="stylesheet" type='text/css' media='screen' href="{% static './styles/main.css' %}">
    {% comment %} <link rel='stylesheet' type='text/css' media='screen' href="{% static '/styles/homepage.css' %}"> {% endcomment %}
</head>
<body>
  <div class='home__links'>
        <div class='home__button__container'>
          <a href='/' class='btn1'> Home </a>
        </div>
         <div class='home__button__container'>
           <a href='/chatroom/create' class='btn1'> Create Chatroom </a>
         </div>
         <div class='home__button__container'>
           <a href='/about' class='btn1'> About </a>
         </div>
         <div class='home__button__container'>
           <a href='/contact' class='btn1'> Contact </a>
         </div>
          <div class='home__button__container'>
           <a href='/user/{{request.user.username}}' class='btn1'> Profile </a>
          </div>
          <div class='home__button__container'>
           <a href='/logout' class='btn1'>Logout</a>
          </div>
       </div>
    {% block content %}

    {% endblock content %}
</body>
</html>