{% extends 'base.html' %}

{% block content %}
<div class='logo'></div>
<div class='about__title' align="center">
    <h2>About Face2Face</h2>
</div>
<div class='about__content'>
  <p> Face2Face allows users to create and join virtual meeting
      rooms where they can communicate with each other using video, audio and instant messaging. 
      Additional future improvements include features that can give participants 
      the ability to share their screen, share files, and use 
      text chat within the meeting group or 
      privately with others in the meeting.
    </p>
    <p>Created by: <a href='https:www.linkedin.com/in/amoreno00' target=”_blank” >Alejandro</a> | <a href='https:www.linkedin.com/in/aiden-ha-yoon-jang' target=”_blank” >Aiden</a> | <a href='https://www.linkedin.com/in/calvin-moldenhauer/' target=”_blank” >Calvin</a> | <a href='https:www.google.com' target=”_blank” >Keara</a></p>
    <small>&copy; FACE2FACE</small>
</div>
{% endblock %}