{% extends 'base.html' %}

{% block content %}
<div class='logo'></div>
<div class='chat-create chat-enter'> 
  <form id="post-form" method="POST" action="">
      {% csrf_token %}
      <label class='create__chatroom__label'>Create a Chatroom or Join an Existing Chatroom</label>
      {% comment %}Need to display existing chatrooms to choose from {% endcomment %}
      <input type="text" name="chatroom" id="chatroom" width="100px" />
      <input type="submit" value="Create Room Now" class='submit__chatroom'>
  </form>
  {% for chatroom in chatrooms %}
  <div class='chatroom__container'>
    <div class='each__chatroom'>
      <a class='chatroom__btn' href="../message/{{ chatroom.name }}/create">
        <h3>{{ chatroom.name }}</h3>
      </a>
    </div>
  </div>

{% endfor %}


{% endblock %}