{% extends 'base.html' %}

{% block content %}

<div class='chat-create chat-enter'> 
    <form id="post-form" method="POST">
        {% csrf_token %}
        <label>edit name:</label>
        <input type="text" name="name" id="name" width="100px" />
        <input type="submit" value="update">
    </form>
    <div>
      <h4>
        manage members:
      </h4>
    </div>
    {% for member in members %}
        <div class='each__chatroom'>
          <li> {{ member }} </li>
        </div>
        <a class='chatroom__btn' href="{% url 'delete_member' chatroom=chatroom.name member=member %}">
          <h5>remove member</h5>
        </a>
    {% endfor %}
</div>


{% endblock %}