{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='profile'>
  <h1>{{ username }}'s Profile</h1>
</div>
<div class='profile-img'></div>
<div class='profile__rooms' align='center'>
  <h3>Created Chatrooms:</h3>
  {% for chatroom in chatrooms %}
  <div class='chatroom__container'>
      <a class='chatroom__btn' href="../message/{{ chatroom.name }}/create">
        <h3>{{ chatroom.name }}</h3>
      </a>
  </div>
</div>

{% endfor %}
<div class='profile__rooms' align='center'>
  <h3>Joined Chatrooms</h3>
{% for membership in memberships %}
<div class='chatroom__container'>
  <a class='chatroom__btn' href="../message/{{ membership.name }}/create">
      <h3>{{ membership.name }}</h3>
  </a>
</div>
</div>
{% endfor %}

{% endblock %}