{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='profile'>
  <h1>{{ username }}'s Profile</h1>
</div>
<div class='profile-img'></div>
<div class='profile__rooms' align='center'>
  <h1>Your Chatrooms:</h1>
</div>

{% for chatroom in chatrooms %}
<div class='chatroom__container'>
  <div class='each__chatroom'>
    <a class='chatroom__btn' href="{% url 'create_message' chatroom=chatroom.name %}">
      <h3>{{ chatroom.name }}</h3>
    </a>
    <a class='chatroom__btn' href="{% url 'edit_chatroom' chatroom=chatroom.name %}">
      <h5>edit</h5>
    </a>
    <a class='chatroom__btn' href="{% url 'delete_chatroom' chatroom=chatroom.name %}">
      <h5>delete</h5>
    </a>
  </div>
</div>
{% endfor %}

<div class='profile__rooms' align='center'>
  <h1>Chatrooms You Joined:</h1>
</div>

{% for membership in memberships %}
<div class='chatroom__container'>
  <div class='each__chatroom'>
    <a href="{% url 'create_message' chatroom=membership.name %}">
      <h3>{{ membership.name }}</h3>
    </a>
  </div>
</div>
{% endfor %}

{% endblock %}