{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='profile'>
  <h1>{{ username }}'s Profile</h1>
</div>
<div class='profile-img'></div>
<div class="profile__rooms">
<div class='profile__room1' align='center'>
  <h1>Your Chatrooms</h1>
  
  {% for chatroom in chatrooms %}
  <div class='chatroom__container'>
    <span class='each__chatroom'>
      <a class='chatroom__btn' href="{% url 'create_message' chatroom=chatroom.name %}">
        <h3 class='join__chatroom__btn'>Enter: {{ chatroom.name }}</h3>
      </a>
      <a class='chatroom__btn' href="{% url 'edit_chatroom' chatroom=chatroom.name %}">
        <h5 class='edit'>Edit: {{chatroom.name }}</h5>
      </a>
      <a class='chatroom__btn' href="{% url 'delete_chatroom' chatroom=chatroom.name %}">
        <h5 class='delete'>Delete: {{chatroom.name }}</h5>
      </a>
    </span>
  </div>
  {% endfor %}
</div>
  
  <div class='profile__room2' align='center'>
    <h1 class='joined__chatroom__title'>Joined Chatrooms</h1>
    
    {% for membership in memberships %}
    <div class='chatroom__container'>
      <div class='each__chatroom'>
        <a class='chatroom__btn' href="{% url 'create_message' chatroom=membership.name %}">
          <h3 class='join__chatroom__btn'>Enter: {{ membership.name }}</h3>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
    {% endblock %}