body {
    /* background-image: url(../static/imgs/f2f.png);
    background-image: url(../static/imgs/f2f.png); */
    background-image: url(../static/imgs/Bground.png);
}

.home-title  h1{
    color:blue;
    font-size: 60px;
}

.home-links {
    background-color: rgba(255, 0, 0, 0.231);
    width: 150px;
    justify-content: center;
    align-items: center;
}

.home-btn-div {
    padding: 5px;
}

.btn {
    background-color: darkcyan;
    color: white;
}

