@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =========================== Main CSS Code =============================== */
.about__content {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.482);
    border: 2px solid black;
    -webkit-box-shadow: 0px 0px 14px 1px rgb(0, 2, 7);
    -moz-box-shadow: 0px 0px 14px 1px rgb(0, 0, 0);
    box-shadow: 0px 3px 5px 1px rgb(0, 0, 0);
    border-radius: 10px;
}

.btn1 {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.btn1:hover {
    background-color: rgb(38, 30, 254);
    color: white;
    border: 2px solid rgb(0, 0, 0);
}


body {
    background-image: url(../../static/imgs/Bground.png);
    font-family: 'Poppins', sans-serif;
}

.chatroom__container {
    /* background-color: rgba(0, 255, 221, 0.29); */
    border: 2px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(142,134,255,1) 100%);
    overflow: overlay;
}

.chatroom__container:hover {
    -webkit-box-shadow: 10px 10px 5px -2px rgba(64,172,255,0.56);
    -moz-box-shadow: 10px 10px 5px -2px rgba(64,172,255,0.56);
    box-shadow: 10px 10px 5px -2px rgba(64,172,255,0.56);
}


.create__chatroom__label:hover {
    text-decoration: underline;
}

/* .chat-create {
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(73, 43, 226, 0.825);
    width: fit-content;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
} */

.chatroom__btn {
    color: rgb(13, 0, 255);
    text-decoration: none;
}
.contact__container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(169, 169, 169, 0.606);
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.459);
    border-radius: 10px;
}

.contact__container:hover {
  background-color: rgba(0, 0, 0, 0.095);
}

#contact {
    margin-left: 50px;
    margin-top: 10px;
    border: 2px solid rgba(0, 0, 255, 0.334);
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

#name {
    border: 2px solid rgba(0, 0, 255, 0.334);
    border-radius: 5px;
}

#Email {
    border: 2px solid rgba(0, 0, 255, 0.334);
    margin-left: 5px;
    border-radius: 5px;   
}

.contact__btn {
    background-color: blue;
    color: white;
    margin-left: 100px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

.contact__btn:hover {
    background-color: rgb(0, 205, 0, 5);
    color: black;
    font-style: italic;
}

.delete { 
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 25%, rgba(249,249,249,1) 75%, rgba(255,0,0,1) 100%);
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    border: 2px solid black;
    color: rgb(0, 0, 0);
}

.delete:hover {
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
-moz-box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
}

.edit {
    color: rgb(0, 0, 0);
    background: rgb(241,255,0);
    background: linear-gradient(90deg, rgba(241,255,0,1) 0%, rgba(255,255,255,1) 25%, rgba(249,249,249,1) 75%, rgba(241,255,0,1) 100%);
    border-radius: 10px;
    border: 2px solid black;
    padding: 2px;
}

.edit:hover {
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
-moz-box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
}

.home__title {
    font-family: 'Poppins', sans-serif;
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.home__title :hover{
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}
.home__button__container {
    padding: 5px;
}
.home__links {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(25, 0, 255, 0.231);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.join__chatroom__btn {
    background: rgb(0,255,25);
    background: linear-gradient(90deg, rgba(0,255,25,1) 0%, rgba(255,255,255,1) 25%, rgba(249,249,249,1) 75%, rgba(0,255,25,1) 100%);
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.join__chatroom__btn:hover {
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
-moz-box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
box-shadow: 5px 5px 5px -2px rgba(0,0,0,1);
}

/* .joined__chatroom__title {
    font-size: 30px;
} */

.logo {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top:60px;
  margin-bottom: 50px;
  background-image: url(../../static/imgs/f2f.png);
  background-position: center;
  background-size:cover;
  width: 400px;
  height: 200px;

} 

.bw-logo{
    background-image: url(../imgs/f2f-black.png);
    width: 20px;
    height: 20px;
}

.login__container {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 255, 0.229);
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.372);
}

.login-btn {
    background-color: rgb(0, 255, 149);
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    font-size: 15px;
    font-style: italic;
    border: 2px solid black;
}

.login-btn:hover {
    background-color: rgba(255, 255, 255, 0.611);
    color: rgb(1, 12, 1);
    font-style: italic;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid rgb(118, 32, 255);
}

.profile-img {
    background-image: url(../../static/imgs/profile-img.png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(5,43,156,1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(5,43,156,1);
    box-shadow: 0px 0px 14px 1px rgba(5,43,156,1);
    border-radius: 20px;
} 

.profile__rooms {
    margin-top: 50px;
}

.profile__room1 {
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    height: 500px;
    font-size: large;
    text-align: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(87,87,87,1) 50%, rgba(0,0,0,0.7203475140056023) 100%);
    margin-left: 30%;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    border-radius: 10px;
    
}
.profile__room2 {
    display: inline-block;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    height: 500px;
    font-size: large;
    text-align: center;
    background-color: rgba(46, 46, 46, 0.4);
    margin-left: 5px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    scrollbar-color: black;
    border-radius: 10px;
    
}

.rooms__container {
    background-color: rgb(0, 0, 0);
}

.submit__chatroom {
    background-color: rgb(0, 255, 64);
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

/* =========================== End of Main CSS Code =============================== */


/* ==================================================== */


/* The animation code below */


/* ====================================================== */
@keyframes profile {
    from {background-color: rgb(0, 81, 255, 0.4);}
    to {background-color:rgb(38, 30, 254);}
    from {color: black;}
    to {color: white;}
}

@keyframes navbar {
    from {background-color: transparent;}
    to {background-color: rgba(25, 0, 255, 0.231);}
}

@keyframes logo {
    from {background-image: none;}
    to {background-image: url(../../static/imgs/f2f.png);}
}

@keyframes links {
    from {background-color: transparent;}
    to {background-color: rgb(38, 30, 254)}
    from {border: 2px solid transparent;}
    to { border: 2px solid black;}
}

@keyframes welcome {
    from {color: transparent;}
    to {background-color: rgb(38, 30, 254)}
}

@keyframes contact {
    from { background-color: rgba(0, 0, 0, 0.616);}
    to { background-color: rgba(169, 169, 169, 0.606);}
}

@keyframes contact_field {
    from { background-color: rgba(0, 0, 0, 0.34);}
    to { background-color: rgb(255, 255, 255);}
}

.contact__container {
    animation-name: contact;
    animation-duration: 5s;
}

#contact {
    animation-name: contact_field;
    animation-duration: 2s;
}

#name {
    animation-name: contact_field;
    animation-duration: 5s;
}

#Email {
    animation-name: contact_field;
    animation-duration: 5s; 
}

.profile {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 30, 254);
    animation-name: profile;
    animation-duration: 6s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
  }

.home__title {
    animation-name: welcome;
    animation-duration: 6s;
    color: blue;
}

.home__links {
    animation-name: navbar;
    animation-duration: 4s;
}

.btn1:hover {
    animation-name: links;
    animation-duration: 2s;
}

.home__title :hover {
    animation-name: profile;
    animation-duration: 10s;

}
/* ================ End of animations ==================== */


/* =============================================================== */




/* Small Devices and Tablets Section Below */




/* ======================================================================= */

/* ================== Media Query Medium (tablets) ====================== */

/* ======================================================================= */
@media screen and (max-width: 1024px) {
    a {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .about__content {
        text-align: center;
        width: fit-content;
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px;
        
    }
    
    .about__title {
        text-align: center;
    }
    
    p {
        font-size: large;
        font-weight: 300;
        font-style: italic;
    }
    
    .home__links {
        background-color: transparent;
        padding: 0;
        font-size: 10px;

    }
    
    
    .home__button__container {
        padding-left: 0;
        background-color: rgba(90, 90, 107, 0);
        position: relative;
        display: flex;
        justify-content: center;
        
    }
    
    .logo {
        margin-left: 19%;
    } 
}



/* ======================================================================= */

/* ================== Media Query small (phones) ====================== */

/* ======================================================================= */
@media screen and (max-width: 600px) {
    /* a {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    } */

    .about__content {
        text-align: center;
        padding-left: 25%;
        width: min-content;
    
    }

    .about__title {
        margin-left: 25%;
    }
    
    p {
        font-size: large;
        font-weight: 300;
        font-style: italic;
    }

    .home__links {
        background-color: transparent;
    }


    .home__button__container {
         padding-left: 20px;
         background-color: rgba(90, 90, 107, 0);
         position: relative;
         display: flex;
         justify-content: center;

    }


}