@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =========================== Main CSS Code =============================== */

body {
    background-image: url(../../static/imgs/Bground.png);
    font-family: 'Poppins', sans-serif;
}


.contact__container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.home__title {
    font-family: 'Poppins', sans-serif;
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.home__title :hover{
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top:60px;
  margin-bottom: 50px;
} 

.home__links {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(25, 0, 255, 0.231);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.about__content {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.482);
    border: 2px solid black;
    -webkit-box-shadow: 0px 0px 14px 1px rgb(0, 2, 7);
    -moz-box-shadow: 0px 0px 14px 1px rgb(0, 0, 0);
    box-shadow: 0px 3px 5px 1px rgb(0, 0, 0);
    border-radius: 10px;
}

.btn1 {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.btn1:hover {
    background-color: rgb(38, 30, 254);
    color: white;
    border: 2px solid rgb(0, 0, 0);
}

.chatroom__container {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.chatroom__btn {
    color: white;
}

.profile-img {
    background-image: url(../../static/imgs/profile-img.png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(5,43,156,1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(5,43,156,1);
    box-shadow: 0px 0px 14px 1px rgba(5,43,156,1);
    border-radius: 20px;
} 

.profile__rooms {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    height: fit-content;
    font-size: large;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.425);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 200px ;
    padding-left: 20px;
    padding-right: 20px;
    
}


.home__button__container {
    padding: 5px;
}

.btn1 {
    color: rgb(0, 0, 0);
}


.logo {
    background-image: url(../../static/imgs/f2f.png);
    background-position: center;
    background-size:cover;
    width: 400px;
    height: 200px;
} 

.bw-logo{
    background-image: url(../imgs/f2f-black.png);
    width: 20px;
    height: 20px;
}


.chat-create {
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(73, 43, 226, 0.825);
    width: fit-content;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

/* .chat-create:hover {
    text-decoration: underline;
    
} */

.rooms__container {
    background-color: rgb(0, 0, 0);
}

.create__chatroom__label:hover {
    text-decoration: underline;
}

.submit__chatroom {
    background-color: rgb(0, 255, 64);
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}
/* =========================== End of Main CSS Code =============================== */


/* ==================================================== */


/* The animation code below */


/* ====================================================== */
@keyframes profile {
    /* 0%   {background-color: rgb(0, 81, 255, 0.4);
        color: rgb(250, 250, 250);
         }
    25%  {background-color:rgb(255, 149, 0); left:200px; top:0px;}
    50%  {background-color:rgb(8, 5, 201); left:200px; top:200px;
        color: rgb(255, 255, 255);}
    75%  {background-color:orange; left:0px; top:200px;}
    100% {background-color: rgba(255, 166, 0, 0.624)} */
    from {background-color: rgb(0, 81, 255, 0.4);}
    to {background-color:rgb(38, 30, 254);}
    from {color: black;}
    to {color: white;}
}

@keyframes navbar {
    from {background-color: transparent;}
    to {background-color: rgba(25, 0, 255, 0.231);}
}

@keyframes logo {
    from {background-image: none;}
    to {background-image: url(../../static/imgs/f2f.png);}
}

@keyframes links {
    from {background-color: transparent;}
    to {background-color: rgb(38, 30, 254)}
    from {border: 2px solid transparent;}
    to { border: 2px solid black;}
}


@keyframes welcome {
    from {color: transparent;}
    to {background-color: rgb(38, 30, 254)}
}

/* .logo{
    animation-name: logo;
    animation-duration: 5s;
} */


.profile {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 30, 254);
    animation-name: profile;
    animation-duration: 6s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
  }

.home__title {
    animation-name: welcome;
    animation-duration: 6s;
    color: blue;
}

.home__links {
    animation-name: navbar;
    animation-duration: 4s;
}

.btn1:hover {
    animation-name: links;
    animation-duration: 2s;
}

.home__title :hover {
    animation-name: profile;
    animation-duration: 10s;

}
/* ================ End of animations ==================== */


/* =============================================================== */




/* Small Devices and Tablets Section Below */




/* ======================================================================= */

/* ================== Media Query Medium (tablets) ====================== */

/* ======================================================================= */
@media screen and (max-width: 1024px) {
    a {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .about__content {
        text-align: center;
        width: fit-content;
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px;
        
    }
    
    .about__title {
        text-align: center;
    }
    
    p {
        font-size: large;
        font-weight: 300;
        font-style: italic;
    }
    
    .home__links {
        background-color: transparent;
        padding: 0;
        font-size: 10px;

    }
    
    
    .home__button__container {
        padding-left: 0;
        background-color: rgba(90, 90, 107, 0);
        position: relative;
        display: flex;
        justify-content: center;
        
    }
    
    .logo {
        margin-left: 19%;
    } 
}



/* ======================================================================= */

/* ================== Media Query small (phones) ====================== */

/* ======================================================================= */
@media screen and (max-width: 600px) {
    /* a {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    } */

    .about__content {
        text-align: center;
        padding-left: 25%;
        width: min-content;
    
    }

    .about__title {
        margin-left: 25%;
    }
    
    p {
        font-size: large;
        font-weight: 300;
        font-style: italic;
    }

    .home__links {
        background-color: transparent;
    }


    .home__button__container {
         padding-left: 20px;
         background-color: rgba(90, 90, 107, 0);
         position: relative;
         display: flex;
         justify-content: center;

    }


}