
body{
    background-image: url(../../static/imgs/Bground.png);
    font-family: 'Poppins', sans-serif;
}

.logo {
    background-image: url(../../static/imgs/f2f.png);
    background-position: center;
    background-size:cover;
    width: 400px;
    height: 200px;
} 


#logo{
    display: block;
    width: 100px;
    margin: 0 auto;
}

#form-container{
    width: 400px;
    background-color: lightgray;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* Room Styling */

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 2px;
    background-color: lightgray;
}

.video-player{
    height: 100%;
    width: 100%;
}

.control-icon{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}

.home__links {
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(25, 0, 255, 0.231);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.btn1 {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.btn1:hover {
    background-color: rgb(38, 30, 254);
    color: white;
    border: 2px solid rgb(0, 0, 0);
}

.home__button__container {
    padding: 5px;
}

/* ================== Media Query Medium ====================== */
@media screen and (max-width: 1024px) {
    a {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .about__content {
        text-align: center;
        width: fit-content;
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px;
        
    }
    
    .about__title {
        text-align: center;
    }
    
    p {
        font-size: large;
        font-weight: 300;
        font-style: italic;
    }
    
    .home__links {
        background-color: transparent;
        padding: 0;
        font-size: 10px;

    }
    
    
    .home__button__container {
        padding-left: 0;
        background-color: rgba(90, 90, 107, 0);
        position: relative;
        display: flex;
        justify-content: center;
        
    }
    
    .logo {
        margin-left: 19%;
    } 
}
